.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.task.reminder {
  border-left: 5px solid green;
}
.task-done.reminder {
  border-left: 5px solid green;
}
.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-done {
  background: #cecece;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.task-done h3 {
  text-decoration: line-through;
  display: flex;
  color: #7a7a7a;
  align-items: center;
  justify-content: space-between;
}
.task-done p {
  display: flex;
  color: #7a7a7a;
}
